.btn-class, .btn-class:hover{
    background-color: mediumvioletred;
    outline-color: mediumvioletred;
    float: right;
    /* width: 60% */
}
.productList{
    height: 480px;
}
.prod-description{
    overflow-x: hidden;
}
.prod-purchase{
    padding: 10px;
}
.prod-div{
    max-height: 100px;
    min-height: 100px;
    overflow: hidden;
}
.categoryName{
    height: 85px;
}
.no-border{
    border-top: 0px;
}